@model TaskMA.Models.TaskDetail

@{
    ViewBag.Title = "Details";
}

<div class="page-header">
    <h3 id="navbar">Details</h3>
</div>

<table class="table table-striped table-hover ">
    <tr class="content">
        <th class="content">
            Employee Name

        </th>

        <th class="content">
            Status
        </th>


        <th class="content">
            Task
        </th>

        <th class="Description">
            Description
        </th>

        <th class="Description">
            Assign Date
        </th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.employee.EmpName)

        </td>
        <td>
            @Html.DisplayFor(model => model.status.StatusName)

        </td>

        <td>

            @Html.DisplayFor(model => model.TaskName)

        </td>
        <td>


            @Html.DisplayFor(model => model.Description)

        </td>

        <td>


            @Html.DisplayFor(model => model.Assign_Dt)

        </td>
    </tr>


</table>



<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.TaskDetailId }) |*@

    <div id="Edit">
        <button class="btn btn-default btn-sm" onclick="location.href='@Url.Action("Edit", "TaskDetail", new { id = Model.TaskDetailId })';return false;">Edit</button>
    </div>
</p>

<br />

|<a href="@Url.Action("Index", new {  })" title="Back to List">
    <i class="glyphicon glyphicon-arrow-left"></i>
    <span class="sr-only">Back to List</span>
</a> |
